@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the scrollbar track (background of the scrollbar column) */
.custom-scrollbar ::-webkit-scrollbar-track {
  background: black; /* Black background for the track */
}

/* Style the scrollbar thumb (the part that moves) */
.custom-scrollbar ::-webkit-scrollbar-thumb {
  background: darkgrey; /* Dark grey for the scrollbar */
  border-radius: 4px; /* Optional: Rounded corners */
}

/* Optional: Style the scrollbar thumb on hover */
.custom-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: grey; /* Slightly lighter grey on hover */
}

/* Set the width of the scrollbar */
.custom-scrollbar ::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}